img{
    width: 200px;
    height: 300px;
    border: 10px;
}
.elige .contiene{
    list-style-type:none;
    float:left;
}
.contiene{
    padding:2em 1em 1em 1em;               
    text-align: center;    
}

